﻿@{
    Script.Require("Styler");
}

<style type="text/css">
    .skin-chooser-wrap { width: 165px; height: auto; position: fixed; top: 150px; left: 0; z-index: 8888; background-color: #ffffff; color: #000; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; padding: 10px; border-top: 40px solid #333; margin-left: -165px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; box-shadow: 0 0 5px #2c3e50; }
        .skin-chooser-wrap.show { margin-left: 0; }
        .skin-chooser-wrap .change-style { text-transform: uppercase; font-size: 14px; position: absolute; top: -30px; left: 15px; color: #999; }
        .skin-chooser-wrap h5 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
    .skin-chooser-toggle { width: 40px; height: 40px; display: block; line-height: 40px; text-align: center; font-size: 18px; position: absolute; top: -40px; right: -40px; background-color: #333; color: #ffffff; cursor: pointer; box-shadow: 0 0 5px #222; }
</style>

<div id="skin-chooser-wrap" class="skin-chooser-wrap hidden-xs">
    <span class="change-style">Change Styles</span>
    <span class="skin-chooser-toggle"><i class="fa fa-cog"></i></span>
    <div>
        <h5>Swatch</h5>
        <select autocomplete="off" id="swatches" class="form-control">
            <option value="default">Default</option>
            <option value="amelia">Amelia</option>
            <option value="cerulean">Cerulean</option>
            <option value="cosmo">Cosmo</option>
            <option value="cyborg">Cyborg</option>
            <option value="darkly">Darkly</option>
            <option value="flatly">Flatly</option>
            <option value="journal">Journal</option>
            <option value="lumen">Lumen</option>
            <option value="readable">Readable</option>
            <option value="simplex">Simplex</option>
            <option value="slate">Slate</option>
            <option value="spacelab">Spacelab</option>
            <option value="superhero">Superhero</option>
            <option value="united">United</option>
            <option value="yeti">Yeti</option>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="fluidlayout" />
            Use Fluid Layout
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="stickyfooter" />
            Use Sticky Footer
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="inversenav" />
            Use Inverse Navigation Bar Color
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="navsearch" />
            Use Navigation Bar Search Field
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="hovermenus" />
            Enable Hover Menus
        </label>
    </div>
</div>
